h1 {color: white;
	font-family: 'Merienda One', cursive;
}

.1 {color: white;
	font-family: 'Merienda', cursive;
	font-weight: bold;
	text-align: center;
} 

p {color: white;
	font-family: 'Merienda', cursive;
}
body {background-color: #000;
	text-align: center;
}
ul {color: white;
	font-family: 'Merienda', cursive;
	list-style-position: inside;
	text-align: center;
}